nav {
    padding: 0 0 0 0;
    height: 4em;
    background-color: #124a75;
}

.nav ul {
    display: block;
}

.banner {
    padding: 3em;
    height: 15em;
}

.banner h3 {
    font-size: 1.2em;
    margin-bottom: .7em;
}

.banner h2 {
    line-height: 1.5em;
    font-size: 2em;
    margin-bottom: .7em;
}

.skill {
    padding: 1em;
    width: 9em;
}



.about {
    padding: 2em;
    display: block;
}

.about div {
    width: 100%;
    margin-bottom: 2em;
}

.about img {
    width: 100%;
}

.contact {
    padding: 2em;
    display: block;
}

.info {
    width: 100%;
    margin-bottom: 2em;
}

.cform {
    width: 100%;
}

.projects div div {
    width: 30em;
}

.nav {
    display: block;
    height: 30em;
    width: 0;
    position: absolute;
    background-color: #124a75;
    z-index: 99;
    padding: 0;
    margin: 0;
    transition: 3s;
}

.nav ul{
    width: 100%;
    height: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #124a75;
    overflow: hidden;
    transition: 1s;
}

.nav ul a li {
    transition: 0.5s;
}

.nav ul li {
    margin-top: 10px;
    display: block;
    padding: 10px;
    width: ;
}

.nav a:hover li {
    background-color: #fff;
    color: #124a75;
}

.closenav {
    position: absolute;
    float: right;
    display: block;
    top: 0;
    right: 0;
    width: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #124a75;
    box-shadow: 7px 7px 10px #072d4b, -7px -7px 10px #0a2a42;
    height: 60px;
    border: none;
    margin-bottom: 1em;
}

.opennav {
    display: block;
    width: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #124a75;
    box-shadow: 3px 3px 5px #072d4b, -3px -3px 5px #0a2a42;
    height: 60px;
    border: none;
    top: 0;
    right: 0;
    position: absolute;
}

